<section id="about-me" class="bg-gray-100 py-16">
	<div class="container mx-auto">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
			<div>
				<h2 class="text-3xl md:text-4xl font-bold mb-4">Sobre Mí</h2>
				<p class="text-gray-600 leading-relaxed">
					Hola, soy Camilo Jose Maria Castillo, tengo 21 años, actualmente
					cursando mi 13vo. trimestre de la carrera de Ingenieria de Software en
					el Instituto Tecnologico de Santo Domingo (INTEC).
				</p>
				<p class="text-gray-600 leading-relaxed my-5">
					Soy un desarrollador de software con 1 año de experiencia en ".Net,
					Nest.js y Angular". Me encanta resolver problemas y crear soluciones
					tecnológicas que marquen la diferencia en la vida de las personas. Me
					identifico como una persona comunicativa, amable y capaz de adaptarse
					a cada situación.
				</p>
				<p class="text-gray-600 leading-relaxed my-5">
					Me identifico como una persona comunicativa, amable y capaz de
					adaptarse a cada situación.
				</p>
			</div>
			<div class="max-w-md mx-auto">
				<img
					src="tu_foto.jpg"
					alt="Tu Foto"
					class="w-full rounded-lg shadow-md"
				/>
			</div>
		</div>
	</div>
</section>
